/*--- General ---*/

body {
    background-color: #bdbdbd;
    font-family: Prompt;
    font-weight: 400;
}

.min-height {
    min-height: calc(100vh - 300px);
  }

/*--- Navbar ---*/

nav .brand-logo:hover {
    color:#bdbdbd;
}

nav ul a:hover {
    color: #bdbdbd;
}


.flashes h4 {
    line-height: 2;
}

/*--- Home Page ---*/

.featured-names {
    font-size: 20px;
}

/*--- Footer ---*/

.page-footer {
    color: #616161;
}

footer ul a {
    color: #fff
}

footer ul a:hover {
    color: #bdbdbd;
}