/*--- General ---*/

body {
    background-color: #bdbdbd;
    font-family: Prompt;
    font-weight: 400;
}

.min-height {
    min-height: calc(100vh - 300px);
  }

/*--- Navbar ---*/

nav .brand-logo:hover {
    color:#bdbdbd;
}

nav ul a:hover {
    color: #bdbdbd;
}

.flashes h4 {
    line-height: 2;
}

/*--- Home Page ---*/

.featured-names {
    font-size: 20px;
}

/*--- Footer ---*/

.page-footer {
    color: #616161;
}

footer ul a {
    color: #fff
}

footer ul a:hover {
    color: #bdbdbd;
}

/*--- Home Page ---*/

.extra {
    padding: 40px;
    background: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

/*--- Media Queries ---*/

@media (max-width: 480px) {
    .nav-wrapper a {
        font-size: 16px;
    }
}

@media (min-width: 480px) {
    .nav-wrapper a {
        font-size: 18px;
    }
}