{% extends "base.html" %}
{% block content %}

<h3 class="center">Add an Actor</h3>

<!-- Add Actor Form compiled of 6 input fields -->
<div class="row card-panel white">
    <form class="col s12" method="POST" action="{{ url_for('add_actor') }}">
        <!-- Row with Actor's Full Name name and Nationality -->
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="full_name" name="full_name" type="text" class="validate" minlength="5" maxlength="35" required>
                <label for="full_name">Actors Full Name</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input id="nationality" name="nationality" type="tel" class="validate" minlength="3" maxlength="30"
                    required>
                <label for="nationality">Nationality</label>
            </div>
        </div>
        <!-- Row with Date of Birth and Favourite Film -->
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">date_range</i>
                <input id="dob" name="dob" type="tel" class="validate datepicker" required>
                <label for="dob">Date of Birth</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">movie</i>
                <input id="favourite_film" name="favourite_film" type="tel" class="validate" minlength="3"
                    maxlength="30" required>
                <label for="favourite_film">My Favourite Film</label>
            </div>
        </div>
        <!-- Row for description of the actor -->
        <!--
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">rate_review</i>
                <textarea id="description" name="description" class="materialize-textarea validate" minlength="30"
                    maxlength="600" data-length="600" required></textarea>
                <label for="description">Short Description</label>
            </div>
        </div>
        -->
        <!-- Row for The Academy Awards wins and Filmography link -->
        <div class="row">
            <div class="input-field col s3">
                <i class="material-icons prefix">stars</i>
                <select id="oscars" name="oscars" class="validate" required>
                    <option value="" disabled selected>Y/N</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <label>Academy Award Winner</label>
            </div>
            <div class="input-field col s9">
                <i class="material-icons prefix">insert_link</i>
                <input id="filmography" name="filmography" type="tel" class="validate">
                <label for="filmography">Filmography</label>
            </div>
        </div>
        <!-- Submit the actor button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="col s6 offset-m3 offset-s3 btn-large black">
                    Add an Actor
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}