{% extends "base.html" %}
{% block content %}

<!---- My Top 3 Actors section --->
<section class="section-margin">
    <h2 class="center">My Top 3</h2>
    <hr>
    <div class="row row-margin">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/AHopkins.jpg" alt="Sir Anthony Hopkins">
          </div>
          <div class="card-content center-align">
            <p class="featured-names">Sir Anthony Hopkins</p>
          </div>
          <!---- If session user cookie is set it shows the option "More Details" --->
          {% if session.user %}
          <div class="card-action center-align">
            <a href="actors/60debdf8cafc341e32cb7554" class="waves-effect btn-small light-green darken-1">More
              Details</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/DWashington.jpg" alt="Denzel Washington">
          </div>
          <div class="card-content center-align">
            <p class="featured-names">Denzel Washington</p>
          </div>
          <!---- If session user cookie is set it displays the option "Show More" --->
          {% if session.user %}
          <div class="card-action center-align">
            <a href="actors/60debe58cafc341e32cb7555" class="waves-effect btn-small light-green darken-1">More
              Details</a>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="static/images/SConnery.jpg" alt="Sir Sean Connery">
          </div>
          <div class="card-content center-align">
            <p class="featured-names">Sir Sean Connery</p>
          </div>
          <!---- If session user cookie is set it displays the option "Show More" --->
          {% if session.user %}
          <div class="card-action center-align">
            <a href="actors/60deb7f3cafc341e32cb7553" class="waves-effect btn-small light-green darken-1">More
              Details</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!---- For loop that shows the most recent entries into db --->
  <section class="section-margin">
    <h2 class="center">Latest entries</h2>
    <hr>
    <div class="row row-margin">
      {% for actors in recent %}
      {% if loop.index < 7 %}
      <div class="col s12 m4">
  
        <div class="card blue-grey darken-1">
  
          <div class="card-content white-text">
  
            <span class="card-title center-align"><b>{{ actors.full_name }}</b></span>
            <hr>
            <p><b class="tags">Nationality:</b> {{ actors.nationality }}</p>
            <p><b class="tags">Date of Birth:</b> {{ actors.dob }}</p>
            <p><b class="tags">My Favourite Movie:</b> {{ actors.favourite_film }}</p>
            <p><b class="tags">Is Academy Award Winner:</b> {{ actors.oscars }}</p><br>
          </div>
          {% if session.user %}
          <div class="card-action center-align">
            <a href="{{ url_for('actors', actors_id=actors._id) }}"
              class="waves-effect btn-small light-green darken-1">Show More</a>
          </div>
          {% endif %}
  
        </div>
  
      </div>
  
      {% endif %}
      {% endfor %}
    </div>
  </section>

{% endblock %}